@media (max-width: 767px) {
	// nav ----------------------------/
	.nav--closed {
		max-height: 66px;		
		.nav__burger-btn {
			&::before {
				content: "";
		
				position: absolute;
				top: 0;
				left: 0;
		
				width: 24px;
				height: 2px;
		
				background-color: #000;
				box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
			}
		}
	}
	.nav--opened {
		max-height: 500px;
		.nav__burger-btn {
			&::before,
			&::after {
				content: '';

				position: absolute;
				top: 50%;
				left: 0;
				
				width: 24px;
				height: 2px;

				background-color: #000;
			}
			&::before {
				transform: translateY(-50%) rotate(45deg);
			}
			&::after {
				transform: translateY(-50%) rotate(-45deg);
			}
		}
	}
	.nav--nojs {
		&.nav--closed {
			max-height: max-content;
		}
		.nav__link {
			padding: 22px 0 23px;
		}
		.nav__burger-btn {
			display: none;
		}
	}

	// example ------------------------/
	.example__range {
		&.example__range--next {
			&::after {
				left: 42px;
			}
		}
	}

}




@media (min-width: 768px) {
	// logo ---------------------------/
	.logo {
		width: auto;
		padding: 24px 0 0;
		&__img {
			width: 173px;
			height: auto;
		}
	}

	// nav ----------------------------/
	.nav {
		display: flex;
		justify-content: space-between;
		width: 768px;
		padding: 0 30px;
		margin: 0 auto 62px auto;
		&::after {
			display: none;
		}
		&__burger-btn {
			display: none;
		}
		&__list {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			width: 485px;
			padding: 34px 0 0;
			margin: 0 -45px 0 0;
		}
		&__item {
			margin-right: 35px;
		}
		&__item--current {
			position: relative;
			&::after {
				content: '';

				height: 2px;

				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;

				background-color: #68b738;
			}
		}
		&__link {
			padding: 9px 0;
			border: none;

			@include os400;
			font-size: 18px;
			line-height: 24px;
			color: #222;
		}
	}

	// func-food ----------------------/
	.func-food {
		width: 768px;
		min-height: 808px;
		padding: 0 30px;
		margin: 0 auto;

		background-image: url(../images/func-food-tablet.jpg);
		background-repeat: no-repeat;
		background-position: center 100%;
		@media (min-resolution: 1.5dppx),
				 (min-resolution: 144dpi) {
					 background-image: url(../images/func-food-tablet@2x.png);
					 background-size: 709px auto;
				 }
		&__title {
			width: 427px;
			padding: 0 0 32px;
			margin: 0 0 0 90px;

			font-size: 60px;
			line-height: 60px;
			color: #000;
			text-align: left;
		}
		&__slogan {
			margin: 0 0 55px 90px;

			font-size: 20px;
			line-height: 20px;
			text-align: left;
			color: #000;
		}
		&__img-box {
			display: none;
		}
		&__btn {
			display: inline-block;
			padding: 17px 29px 15px 26px;
			margin: 0 0 0 90px;

			font-size: 20px;
			line-height: 20px;
		}
	}

	// services --------------------------/
	.services {
		width: 768px;
		padding: 0 30px;
		&__item {
			padding: 80px 60px 62px 52px;
			margin: 0 0 30px;
		}
		&__title {
			margin: 0 0 22px 0;
	
			font-size: 36px;
			line-height: 37px;
		}		
		&__text {
			max-width: 380px;
			margin: 0 0 56px;
			padding: 0;
			border: none;

			font-size: 16px;
			line-height: 24px;
		}		
		&__link {
			padding: 0 50px 0 0;

			font-size: 20px;
			line-height: 20px;
		}
		&__item-icon {
			top: 91px;
			left: auto;
			right: 61px;

			width: 200px;
			height: 200px;
		}
		&__item-icon--skinny {
			&::after {
				top: -13px;

				width: 140px;
				height: 194px;
			}
		}
		&__item-icon--gain {
			&::after {	
				width: 268px;
				height: 112px;
			}
		}		
	}

	// title --------------------------/
	.title {
		font-size: 60px;
	}

	// advantages ---------------------/
	.advantages {
		width: 768px;
		padding: 0 30px;
		&__title {
			margin: 0 0 63px;
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			margin: -30px 0 0;
		}
		&__item {
			width: 250px;
			min-height: 233px;
			padding: 113px 0 0;
			margin: 30px 0 55px;

			background-position: 125px 0;
			background-repeat: no-repeat;
			&::before {
				top: 0;
				transform: translateY(0);
			}
		}
		&__item:nth-child(2n+1) {
			margin-right: 135px;
		}
		&__item--helpful {
			background-image: url(../images/advantages-bg-1.png);
			background-size: 71px 228px;
			@media (min-resolution: 1.5dppx),
					 (min-resolution: 144dpi) {
						 background-image: url(../images/advantages-bg-1@2x.png);
			}
		}		
		&__item--cooking {
			background-image: url(../images/advantages-bg-2.png);
			background-size: 114px 230px;
			@media (min-resolution: 1.5dppx),
					 (min-resolution: 144dpi) {
						 background-image: url(../images/advantages-bg-2@2x.png);
			}
		}
		&__item--change {
			background-image: url(../images/advantages-bg-3.png);
			background-size: 113px 233px;
			@media (min-resolution: 1.5dppx),
					 (min-resolution: 144dpi) {
						 background-image: url(../images/advantages-bg-3@2x.png);
			}
		}
		&__item--result {
			background-image: url(../images/advantages-bg-4.png);
			background-size: 121px 228px;
			@media (min-resolution: 1.5dppx),
					 (min-resolution: 144dpi) {
						 background-image: url(../images/advantages-bg-4@2x.png);
			}
		}
		&__text {
			padding: 0;

			font-size: 16px;
			line-height: 24px;
		}
	}

	// example ------------------------/
	.example {
		padding: 45px 0 65px;
		margin: 0 0 68px;
		border-top: 1px solid #e6e6e6;
		background-color: transparent;
		background-image: linear-gradient(#fff 0,#fff 620px,#f2f2f2 620px,#f2f2f2 100%);
		&__inner {
			width: 768px;
			padding: 0 30px;
		}
		&__title {
			margin: 0 0 65px;
		}	
		&__text {
			font-size: 16px;
			line-height: 24px;
			margin: 0 0 50px;
		}
		&__result {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 0 0 85px;
		}
		&__list {
			width: 366px;
			margin: 0;
		}
		&__item {
			width: 162px;
		}
		&__value {
			font-size: 30px;
			line-height: 36px;
		}
		&__definition {
			padding: 0;

			font-size: 14px;
			line-height: 14px;

			left: 23px;
			right: 23px;
			bottom: -5px;

			background: #fff;
		}
		&__item:last-child {
			.example__definition {
				left: 9px;
				right: 9px;
			}
		}
		&__sum {
			display: block;
			margin: 0;

			font-size: 20px;
			line-height: 28px;
			text-align: right;
			&-price {
				margin: 0;
			}
		}
		&__slider-list {
			min-height: 517px;
			margin: 0 0 12px;
		}
		&__slider-item {
			width: auto;
		}
		&__slider-item--before {
			left: 16px;
		}
		&__slider-item--after {
			left: 107px;
		}
		&__slider-toggles {
			width: 570px;
		}
		&__range {
			width: 430px;
			height: 6px;
			margin: 9px 0 0;
			border: none;
			border-radius: 6px;
	
			position: relative;
	
			background-color: #dcdcdc;
			cursor: pointer;
			&::after {
				left: 50%;
				transform: translate(-50%, -50%);
	
				width: 35px;
				height: 35px;
				border: 1px solid #d1d1d1;
				border-radius: 50%;
	
				background-color: #fff;
				box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
			}
			&::before {
				content: '';

				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 2;

				width: 8px;
				height: 8px;
				border-radius: 50%;
				transform: translate(-50%, -50%);

				background-color: #68b738;
			}
			&:hover::after {
				box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
			}
			&:active::after {
				border: 2px solid #68b738;

				box-shadow: 0 4px 5px rgba(0, 0, 0, 0.30);
			}
		}
	}

	// footer ----------------------------/
	.footer {
		background-image: linear-gradient(#fff 0px, #fff 134px, #f2f2f2 134px, #f2f2f2 100%);
		&__inner {
			width: 768px;
		}
		&__info {
			margin: 0 0 60px;
			padding: 0 70px;
		}
		&__slogan {
			width: 165px;

			font-size: 20px;
			line-height: 25px;
		}
		&__address {
			width: 165px;

			font-size: 16px;
			span {
				display: block;
				margin-top: 14px;
			}
		}
		&__map-wrapper {
			height: auto;
		}
		&__map-img {
			position: static;

		}
		&__bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 60px 30px 55px;
		}
		&__logo {
			margin: 0;
		}
		&__copy {
			padding: 0;
			&-text {
				margin: 0 23px 0 0;
			}
		}
	}

	// social-networks -------------------/
	.social-networks {
		padding: 0;
		margin: 0;
		border: none;
		&__list {
			margin-left: -28px;
		}
		&__item {
			margin-left: 28px;
		}
		&__icon--vk {
			width: 30px;
			height: 16px;
		}
		&__icon--inst {
			width: 23px;
			height: 23px;
		}
		&__icon--facebook {
			width: 14px;
			height: 28px;
		}
	}
}



@media (min-width: 1440px) {
	// header -------------------------/
	.header {
		width: 1440px;
		min-height: 696px;
		margin: 0 auto 80px auto;
		padding: 0 110px;

		background-image: url(../images/func-food-desktop.png),
								url(../images/func-food-bg-desktop.jpg);
		background-repeat: no-repeat;
		background-position: 560px 142px, 100% 0;
		@media (min-resolution: 1.5dppx),
				 (min-resolution: 144dpi) {
					 background-image: url(../images/func-food-desktop@2x.png),
					 						 url(../images/func-food-bg-desktop@2x.jpg);
					 background-size: 552px auto, 720px auto;
		}
	}

	// logo ---------------------------/
	.logo {
		padding: 54px 0 0;
		&__img {
			width: 202px;
			height: 59px;
		}
	}

	// nav ----------------------------/
	.nav {
		width: auto;
		padding: 0;
		margin: 0 auto 113px auto;
		&__list {
			width: 515px;
			padding: 63px 0 0;
		}
		&__item--current {
			&::after {
				background-color: #fff;
			}
		}
		&__link {
			padding: 12px 0;

			font-size: 20px;
			line-height: 20px;
			color: #fff;
		}
	}

	// func-food ----------------------/
	.func-food {
		width: auto;
		min-height: auto;
		padding: 0 0 0 80px;

		background-image: none;
		&__title {
			margin: 0;
		}
		&__slogan {
			margin: 0 0 55px;
		}
		&__btn {
			margin: 0;
		}
	}

	// services --------------------------/
	.services {
		width: 1300px;
		padding: 0 40px;
		margin: 0 auto 40px auto;
		&__list {
			display: flex;
			flex-wrap: wrap;
			margin: 0 0 0 -80px;
		}
		&__item {
			width: 570px;
			padding: 80px 55px 62px 52px;
			margin: 0 0 30px 80px;
		}
		&__title {
			margin: 0 0 70px 164px;
		}		
		&__text {
			max-width: 100%;
			margin: 0 0 32px;
		}
		&__item-icon {
			top: 47px;
			left: 52px;
			right: auto;

			width: 100px;
			height: 100px;
		}
		&__item-icon--skinny {
			&::after {
				top: -4px;

				width: 70px;
				height: 97px;
			}
		}
		&__item-icon--gain {
			&::after {	
				width: 134px;
				height: 56px;
			}
		}		
	}

	// advantages ---------------------/
	.advantages {
		width: 1300px;
		padding: 0 40px;
		border: none;
		margin: 0 auto 55px auto;
		&__list {
			margin: 0 -80px 0 0;
		}
		&__item {
			width: 245px;
			margin: 0 80px 30px 0;
		}
		&__item:nth-child(2n+1) {
			margin: 0 80px 30px 0;
		}
	}	

	// example ------------------------/
	.example {
		padding: 0 0 65px;
		margin: 0;
		border-top: none;
		background-color: transparent;
		background-image: linear-gradient(#fff 0,#fff 134px,#f2f2f2 134px,#f2f2f2 100%);
		&__inner {
			display: flex;
			justify-content: space-between;
			width: 1300px;
		}
		&__info {
			width: 438px;
		}
		&__title {
			margin: 0 0 140px;
		}
		&__text {
			margin: 0 0 65px;
		}
		&__result {
			flex-wrap: wrap;
			margin: 0;
		}
		&__list {
			margin: 0 0 61px;
		}
		&__definition {
			background-color: #f2f2f2;
		}
		&__sum {
			display: flex;
			&-text {
				margin-right: 64px;
			}
		}
		&__slider-list {
			width: 650px;
			margin: -57px 0 34px;
		}
		&__slider-item--before {
			left: 0px;
		}
		&__slider-item--after {
			left: 80px;
		}
		&__slider-toggles {
			margin: 0 0 0 auto;
		}
	}

	// footer ----------------------------/
	.footer {
		background-image: linear-gradient(#fff 0px, #fff 0, #f2f2f2 0, #f2f2f2 100%);
		&__inner {
			width: 1440px;
		}
		&__map {
			position: relative;
		}
		&__info {
			align-items: center;
			width: 570px;
			min-height: 200px;

			position: absolute;
			top: 50%;
			left: 110px;
			z-index: 2;

			transform: translateY(-50%);
			margin: 0;
			padding: 0 86px 0 78px;

			background-color: #fff;
		}
		&__slogan {
			width: 165px;

			font-size: 20px;
			line-height: 25px;
		}
		&__address {
			width: 165px;

			font-size: 16px;
			span {
				display: block;
				margin-top: 14px;
			}
		}
		&__map-wrapper {
			height: auto;
		}
		&__map-img {
			position: static;

		}
		&__bottom {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 60px 110px 55px;
		}
		&__logo {
			margin: 0;
		}
		&__copy {
			padding: 0;
			&-text {
				margin: 0 23px 0 0;
			}
		}
	}
}