@media (max-width: 767px) {
	.nav--closed {
		max-height: 66px;		
		.nav__burger-btn {
			&::before {
				content: "";
		
				position: absolute;
				top: 0;
				left: 0;
		
				width: 24px;
				height: 2px;
		
				background-color: #000;
				box-shadow: 0 8px 0 0 #000, 0 16px 0 0 #000;
			}
		}
	}
	.nav--opened {
		max-height: 500px;
		.nav__burger-btn {
			&::before,
			&::after {
				content: '';

				position: absolute;
				top: 50%;
				left: 0;
				
				width: 24px;
				height: 2px;

				background-color: #000;
			}
			&::before {
				transform: translateY(-50%) rotate(45deg);
			}
			&::after {
				transform: translateY(-50%) rotate(-45deg);
			}
		}
	}
	.nav--nojs {
		&.nav--closed {
			max-height: max-content;
		}
		.nav__link {
			padding: 22px 0 23px;
		}
		.nav__burger-btn {
			display: none;
		}
	}
}




@media (min-width: 768px) {
	// logo ---------------------------/
	.logo {
		width: auto;
		padding: 24px 0 0;
		&__img {
			width: 173px;
			height: auto;
		}
	}

	// nav ----------------------------/
	.nav {
		display: flex;
		justify-content: space-between;
		width: 768px;
		padding: 0 30px;
		margin: 0 auto 62px auto;
		&::after {
			display: none;
		}
		&__burger-btn {
			display: none;
		}
		&__list {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			width: 485px;
			padding: 34px 0 0;
			margin: 0 -45px 0 0;
		}
		&__item {
			margin-right: 35px;
		}
		&__item--current {
			position: relative;
			&::after {
				content: '';

				height: 2px;

				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;

				background-color: #68b738;
			}
		}
		&__link {
			padding: 9px 0;
			border: none;

			@include os400;
			font-size: 18px;
			line-height: 24px;
			color: #222;
		}
	}

	// func-food ----------------------/
	.func-food {
		width: 768px;
		min-height: 808px;
		padding: 0 30px;
		margin: 0 auto;

		background-image: url(../images/func-food-tablet.jpg);
		background-repeat: no-repeat;
		background-position: center 100%;
		@media (min-resolution: 1.5dppx),
				 (min-resolution: 144dpi) {
					 background-image: url(../images/func-food-tablet@2x.png);
					 background-size: 709px auto;
				 }
		&__title {
			width: 427px;
			padding: 0 0 32px;
			margin: 0 0 0 90px;

			font-size: 60px;
			line-height: 60px;
			color: #000;
			text-align: left;
		}
		&__slogan {
			margin: 0 0 55px 90px;

			font-size: 20px;
			line-height: 20px;
			text-align: left;
			color: #000;
		}
		&__img-box {
			display: none;
		}
		&__btn {
			display: inline-block;
			padding: 17px 29px 15px 26px;
			margin: 0 0 0 90px;

			font-size: 20px;
			line-height: 20px;
		}
	}
}



@media (min-width: 1440px) {
	// header -------------------------/
	.header {
		width: 1440px;
		min-height: 696px;
		margin: 0 auto 80px auto;
		padding: 0 110px;

		background-image: url(../images/func-food-desktop.png),
								url(../images/func-food-bg-desktop.jpg);
		background-repeat: no-repeat;
		background-position: 560px 142px, 100% 0;
		@media (min-resolution: 1.5dppx),
				 (min-resolution: 144dpi) {
					 background-image: url(../images/func-food-desktop@2x.png),
					 						 url(../images/func-food-bg-desktop@2x.jpg);
					 background-size: 552px auto, 720px auto;
		}
	}

	// logo ---------------------------/
	.logo {
		padding: 54px 0 0;
		&__img {
			width: 202px;
			height: 59px;
		}
	}

	// nav ----------------------------/
	.nav {
		width: auto;
		padding: 0;
		margin: 0 auto 113px auto;
		&__list {
			width: 515px;
			padding: 63px 0 0;
		}
		&__item--current {
			&::after {
				background-color: #fff;
			}
		}
		&__link {
			padding: 12px 0;

			font-size: 20px;
			line-height: 20px;
			color: #fff;
		}
	}

	// func-food ----------------------/
	.func-food {
		width: auto;
		min-height: auto;
		padding: 0 0 0 80px;

		background-image: none;
		&__title {
			margin: 0;
		}
		&__slogan {
			margin: 0 0 55px;
		}
		&__btn {
			margin: 0;
		}
	}
}