@import 'vars';
@import 'global';
@import 'fonts';


// logo ------------------------------/
.logo {
	display: block;
	width: 212px;
	padding: 11px 0 16px 20px;
	&:hover {
		opacity: 0.8;
	}
	&[href]:active {
		opacity: 0.3;
	}
	&__img {
		display: block;
		width: 192px;
		height: 38px;
	}
}

// nav -------------------------------/
.nav {
	width: 320px;
	min-height: 66px;
	margin: 0 auto;
	overflow: hidden;

	position: relative;
	transition: max-height linear 0.5s;
	&::after {
		content: '';

		position: absolute;

		top: 65px;
		left: 0;
		right: 0;

		height: 1px;

		background-color: #e6e6e6;
	}
	&__burger-btn {
		position: absolute;

		top: 21px;
		right: 20px;

		display: block;
		width: 24px;
		height: 18px;
		padding: 0;
		border: none;

		background-color: transparent;
		cursor: pointer;
	}
	&__list {
		@include reset-ul;
	}
	&__link {
		display: block;
		padding: 22px 0 23px;

		@include os500;
		font-size: 20px;
		line-height: 20px;
		color: #000;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;

		border-bottom: 1px solid #e6e6e6;
		&[href]:hover {
			opacity: 0.6;
		}
		&[href]:active {
			opacity: 0.3;
		}
	}
}

// func-food -------------------------/
.func-food {
	width: 320px;
	margin: 0 auto 22px auto;
	padding: 0 20px;

	background-image: url(../images/func-food-bg-mobile.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	@media (min-resolution: 1.5dppx),
			 (min-resolution: 144dpi) {
				background-image: url(../images/func-food-bg-mobile@2x.jpg);
				background-size: 320px auto;
	}
	&__title {
		margin: 0;
		padding: 29px 0 20px;

		line-height: 36px;
		text-align: center;
		color: #fff;
	}
	&__slogan {
		margin: 0 0 29px;

		@include os400;
		line-height: 14px;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
	}
	&__img-box {
		display: block;
		margin: 0 0 3px;
	}
	&__img {
		display: block;

		width: 280px;
		height: 270px;
	}
	&__btn {
		font-size: 14px;
		line-height: 18px;
	}
}

// services --------------------------/
.services {
	width: 320px;
	margin: 0 auto;
	padding: 0 20px;
	&__list {
		@include reset-ul;
	}
	&__item {
		padding: 32px 20px 23px;
		margin: 0 0 20px;

		position: relative;

		background-color: #f2f2f2;
	}
	&__title {
		margin: 0 0 30px 72px;

		@include os400;
		font-size: 24px;
		line-height: 37px;
		color: #111;
		text-transform: uppercase;
	}
	&__text {
		margin: 0 0 20px;
		padding: 0 0 23px;

		border-bottom: 1px solid #d9d9d9;
	}
	&__link {
		display: inline-block;
		padding: 0 36px 0 0;

		position: relative;

		@include os400;
		font-size: 16px;
		line-height: 16px;
		color: #111;
		text-transform: uppercase;
		text-decoration: none;
		&:active {
			opacity: 0.3;
		}
		&::after {
			content: '';

			width: 24px;
			height: 11px;

			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);

			background-image: url(../images/icons/services-link-arrow.svg);
		}
	}
	&__item-icon {
		position: absolute;
		top: 25px;
		left: 22px;

		width: 50px;
		height: 50px;
		border-radius: 50%;

		background-color: #68b738;
		&::after {
			content: '';

			position: absolute;
			
			left: 50%;
			transform: translateX(-50%);

			background-repeat: no-repeat;
		}
	}
	&__item-icon--skinny {
		&::after {
			top: -2px;

			width: 35px;
			height: 49px;
			background-image: url(../images/icons/skinny-cat.svg);
		}
	}
	&__item-icon--gain {
		&::after {
			top: 50%;
			transform: translate(-50%, -50%);

			width: 67px;
			height: 28px;
			background-image: url(../images/icons/gain-cat.svg);
		}
	}
}

// advantages ------------------------/
.advantages {
	width: 320px;
	margin: 0 auto;
	padding: 0 20px 15px;
	&__title {
		margin: 0 0 23px;
	}
	&__list {
		@include reset-ul;
	}
	&__item {
		margin: 0 0 30px;

		position: relative;
		&::before {
			content: '';

			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);

			width: 60px;
			height: 60px;

			background-color: #68b738;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
	&__item--helpful {
		&::before {
			background-image: url(../images/icons/advantage-1.png);
			background-size: 26px 29px;
			@media (min-resolution: 1.5dppx),
					 (min-resolution: 144dpi) {
						 background-image: url(../images/icons/advantage-1@2x.png);
			}
		}
	}
	&__item--cooking {
		&::before {
			background-image: url(../images/icons/advantage-2.png);
			background-size: 29px 31px;
			@media (min-resolution: 1.5dppx),
					 (min-resolution: 144dpi) {
						 background-image: url(../images/icons/advantage-2@2x.png);
			}
		}
	}
	&__item--change {
		&::before {
			background-image: url(../images/icons/advantage-3.png);
			background-size: 23px 30px;
			@media (min-resolution: 1.5dppx),
					 (min-resolution: 144dpi) {
						 background-image: url(../images/icons/advantage-3@2x.png);
			}
		}
	}
	&__item--result {
		&::before {
			background-image: url(../images/icons/advantage-4.png);
			background-size: 26px 31px;
			@media (min-resolution: 1.5dppx),
					 (min-resolution: 144dpi) {
						 background-image: url(../images/icons/advantage-4@2x.png);
			}
		}
	}
	&__text {
		padding: 0 0 0 80px;
		margin: 0;
	}
}

// example ---------------------------/
.example {
	margin: 0 0 30px;

	background-color: #f2f2f2;
	&__inner {
		width: 320px;
		margin: 0 auto;
		padding: 21px 20px 37px;
	}
	&__title {
		margin: 0 0 20px;
	}
	&__text {
		margin: 0 0 25px;
	}
	&__list {
		@include reset-ul;

		display: flex;
		justify-content: space-between;
		margin: 0 0 35px;
	}
	&__item {
		width: 124px;
		padding: 17px 0;
		border: 1px solid #cdcdcd;
		border-radius: 3px;

		position: relative;

		text-align: center;
	}
	&__value {
		@include os400;
		font-size: 24px;
		line-height: 24px;

		color: #000;
	}
	&__definition {
		margin: 0;
		padding: 0 10px;

		position: absolute;
		left: 18px;
		right: 18px;
		bottom: -15px;

		font-size: 12px;
		line-height: 12px;

		background-color: #f2f2f2;
	}
	&__sum {
		display: flex;
		justify-content: center;
		margin: 0 0 33px;

		@include os400;
		font-size: 14px;
		line-height: 20px;
		color: #000;
		text-transform: uppercase;
		&-price {
			margin-left: 3px;
		}
	}
	&__slider-list {
		@include reset-ul;

		position: relative;

		min-height: 240px;
		margin: 0 0 33px;
		overflow: hidden;
	}
	&__slider-item {
		position: absolute;
		bottom: 0;

		width: 280px;

		opacity: 0;

		transition: opacity 0.3s;
		&.example__slider-item--current {
			opacity: 1;
		}
	}
	&__slider-item--before {
		left: -19px;
	}
	&__slider-item--after {
		left: 23px;
	}
	&__slider-img {
		display: block;
	}
	&__slider-toggles {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		width: 200px;
		margin: 0 auto;
	}
	&__btn {
		padding: 0 0 7px;
		border: none;
		border-bottom: 1px dotted #bebebe;

		@include os400;
		font-size: 20px;
		line-height: 20px;
		color: #000;
		text-transform: uppercase;

		background-color: transparent;
		cursor: pointer;
		&:hover {
			border-bottom: 1px solid #989898;
		}
		&:active {
			border: none;
		}
	}
	&__range {
		width: 84px;
		height: 14px;
		margin: 3px 0 0;
		border: 1px solid #cdcdcd;
		border-radius: 6px;

		position: relative;

		background-color: #fff;
		&::after {
			content: '';

			position: absolute;
			top: 50%;
			left: 5px;
			transform: translateY(-50%);

			width: 35px;
			height: 6px;
			border-radius: 6px;

			background-color: #68b738;

			transition: left 0.2s;
		}
	}
}

// footer ----------------------------/
.footer {
	background-image: linear-gradient(#fff 0px, #fff 87px, #f2f2f2 87px, #f2f2f2 100%);
	&__inner {
		width: 320px;
		margin: 0 auto;
	}
	&__info {
		display: flex;
		justify-content: space-between;
		margin: 0 0 28px;
		padding: 0 20px;
	}
	&__slogan {
		@include os400;
		font-size: 16px;
		line-height: 20px;
		color: #000;
		text-transform: uppercase;
	}
	&__address {
		margin: 0;

		line-height: 20px;
	}
	&__map-wrapper {
		height: 362px;
		overflow: hidden;

		position: relative;
	}
	&__map-img {
		display: block;

		position: absolute;
		top: -38px;
		left: 0;
	}
	&__bottom {
		padding: 40px 0 22px;
		text-align: center;

		background-color: #f2f2f2;
	}
	&__logo {
		display: block;
		margin: 0 0 30px;
		&[href]:hover {
			opacity: 0.8;
		}
		&[href]:active {
			opacity: 0.3;
		}
	}
	&__copy {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 20px;

		font-size: 16px;
		line-height: 16px;
		color: #444;
		text-decoration: none;
		&:hover {
			.footer__copy-icon path {
				fill: #68b738;
			}
		}
		&:active {
			opacity: 0.3;
		}
		&-text {
			margin: 0;
		}
	}
}

// social-networks -------------------/
.social-networks {
	padding: 23px 0 21px;
	margin: 0 20px 22px;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	&__list {
		@include reset-ul;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-left: -37px;
	}
	&__item {
		margin-left: 37px;
	}
	&__link:hover {
		.social-networks__icon path {
			fill: #68b738;
		}		
	}
	&__link:active {
		opacity: 0.3;
	}
}


// страница каталога ===========================/
.catalog-page-title {
	width: 320px;
	margin: 20px auto;
	padding: 0 20px;
}
// catalog ---------------------------/
.catalog {
	width: 320px;
	margin: 0 auto 30px;
	&__list  {
		@include reset-ul;
	}
	&__item {
		display: flex;
		flex-direction: column;
		padding: 0 20px 25px;
		border-top: 1px solid #ededed;
		border-bottom: 1px solid #ededed;
	}
	&__content {
		display: flex;
		justify-content: space-between;
	}
	&__info {
		width: 140px;
		order: 2;
	}
	&__title {
		&-link {
			display: block;
			width: 85px;
			margin: 22px 0 12px;
	
			@include os400;
			font-size: 16px;
			line-height: 20px;
			text-transform: uppercase;
			text-decoration: none;
			color: #444;
		}
	}
	&__table {
		width: 100%;

		font-size: 12px;
		line-height: 12px;
	}
	&__cell:last-child {
		text-align: right;
	}
	&__picture {
		order: 1;
	}
	&__img {
		display: block;
	}
	&__btn {
		order: 3;
	}
	&__more {
		text-align: center;
		&-icon {
			width: 30px;
			height: 30px;
			margin: 26px auto 24px;

			position: relative;
			&::before,
			&::after {
				content: '';

				position: absolute;

				width: 30px;
				height: 2px;

				background-color: #d3d3d3;
			}
			&::before {
				top: 50%;
				left: 0;

				transform: translateY(-50%);
			}
			&::after {
				top: 50%;
				left: 50%;

				transform: translate(-50%, -50%) rotate(90deg);
			}
		}
		&-text {
			margin: 0 0 7px;

			@include os400;
			font-size: 16px;
			line-height: 20px;
			color: #000;
			text-transform: uppercase;
		}
		&-descr {
			margin: 0 0 20px;

			font-size: 12px;
			line-height: 16px;
		}
		&-btn {
			padding: 10px 0;

			color: #444;

			background-color: #f2f2f2;
			&:hover {
				background-color: #ebebeb;
			}
			&:active {
				color: rgba($color: #000000, $alpha: 0.3)
			}
		}
	}
}

// additional ------------------------/
.additional {
	position: relative;
	&::before {
		content: '';

		width: 50%;
		height: 3px;

		position: absolute;
		top: 14px;
		right: 0;

		background-color: #68b738;
	}
	&__inner {
		width: 320px;
		margin: 0 auto 35px;
		padding: 0 20px;
	}
	&__title {
		width: 250px;
		margin: 0 0 30px;

		position: relative;

		@include os400;
		font-size: 24px;
		line-height: 24px;

		background-color: #fff;
	}
	&__list {
		@include reset-ul;

		margin: 0 0 40px;
	}
	&__item {
		padding: 14px 0 17px;
		border-top: 1px solid #cdcdcd;
		border-bottom: 1px solid #cdcdcd;
		&-title {
			margin: 0 0 16px;

			@include os400;
			font-size: 16px;
			line-height: 16px;
			color: #222;
		}
	}
	&__table {
		width: 100%;
	}
	&__cell {
		line-height: 14px;
		&:last-child {
			text-align: right;
		}
	}
	&__btn {
		margin: 14px 0 0;
	}
	&__present {
		height: 289px;

		text-align: center;

		background-image: url(../images/additional-gift-bg-mobile.jpg);
		background-repeat: no-repeat;
		background-position: 0 0;
		@media (min-resolution: 1.5dppx),
				 (min-resolution: 144dpi) {
					 background-image: url(../images/additional-gift-bg-mobile@2x.jpg);
					 background-size: 280px 289px;
		}
	}
	&__present-icon {
		margin: 65px 0 60px;
	}
	&__present-text {
		width: 170px;
		margin: 0 auto;

		font-size: 16px;
		line-height: 20px;
		color: #fff;
	}
}

@import 'media';